
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

body {
    font-family: "Roboto",sans-serif !important;
    font-size: 14px;
    
}
.viewmore{
     background: #fff none repeat scroll 0 0 !important;
    background-color: #1688d3;
    border-radius: 2px;
    box-shadow: 0 0 20px #1688d3 inset !important;
    color: #0070ad;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 30px 8px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width:155px;
}
.iconbox .box-content .box-title {
    color: #3c3a42;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 4px;
    font-family:'Roboto Condensed', sans-serif;
}
.iconbox .box-content p {
    color: #66646d;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 24px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    margin-bottom: 30px;
    outline: medium none;
    padding-left: 20px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
#mainnav ul.submenu > li > a:hover {
    color: #fff;
    padding: 0 0 0 40px;
    background: #1688d3;
}
#mainnav > ul > li > a {
    font-weight: 700;
    color: #3c3a42;
    text-transform: uppercase;
    line-height: 85px;
    padding: 0 18px 0 16px;
    font-family: 'Roboto', sans-serif;
}
#mainnav ul.submenu{
    padding:6px 0px 6px 0px;
    background-color:#fff;
}
.pageheader{
    background:#0071AD;
    padding:30px;
}
.pageheader h2{
    color:#fff;
    font-family:"Roboto Condensed",sans-serif;
    margin-bottom:0px;
    font-size:36px;
    margin-top:35px;
}
.pageheader p{
    font-family:"Roboto",sans-serif;
    color:#fff;
    font-size:15px;
}
.breadcrumb{
    margin-bottom:0px;
}
.about-us{
    padding:60px 0 60px !important;
}
.about-us p{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    line-height:30px;
    text-align:justify;
}
.about-us h2{
    color: #0e2b61;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    line-height: 45px;
    margin-top: 16px;
}
.about-us ul li{
    font-size:16px;margin-bottom:14px;margin-top:6px;
}
.Teammember{
    padding:60px 0px !important;
}
.flat-team .avatar {
    border: 1px solid #ddd;
    padding: 3px;
    position: relative;
}
.flat-team .content{
    background-color:#021e59;
    border-bottom-right-radius:60px !important;
    border-bottom-left-radius:0px !important;
    border-top-left-radius:0px !important;border-top-right-radius:0px !important;
    padding:10px 0px 3px !important;
}
.content h6{
    font-size:16px !important;
    line-height:14px;
    color:#fff !important;
}
.content p{
    color:#fff !important;
    font-size:14px !important;
}
.flat-imagebox-content:hover{
    border-radius:0px !important;
}
.contact-form .con{
    padding:0 0 14px;
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    color:#182331;
     border-radius: 0;
    font-size: 14px;
    height: 40px;
    margin-bottom: 35px;
    outline: medium none;
    padding-left:0px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.contact-form .col-contact {
    float: left;
    margin-right: 2.377%;
    width: 48.75% !important;
}
.btnsubmit{
        background-color: #1688d3;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    padding: 15px 22px 13px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.info{
    color: #0e2b61;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    line-height:30px;
    
}
.detail li i{
    color:#0071ad !important;
    font-size:15px !important;
}

.detail li {
    font-size: 15px;
    margin-bottom:12px;
}
.address2{
    padding:40px;
    box-shadow:0 5px 5px #555;
}
.address2:hover{
    padding:40px;
    box-shadow:6px 0 4px #555;
}
.widget h6{
    font-family:"Roboto Condensed",sans-serif;
    font-size:26px;
}
.service-help{
    box-shadow:1px 3px 4px #333;
    padding:15px !important;
}
.btn5{
     padding: 6px 23px !important;
     background-color: #1688d3;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    width:125px;
}
.btn5:hover{
    background:#1F376B !important;
}
.services-detail h2{
    color: #0e2b61;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    line-height:30px;
    margin-bottom:15px;
}
.services-detail p{
    font-size:16px;
    line-height:30px;
    margin-bottom:18px;
    text-align:justify;
}
.service-detail5 li{
    font-size:16px;
    margin-bottom:8px;
}
.services-hd{
    background:#333;
    color:#fff !important;
    padding:10px;
    margin-bottom:0px !important;
    font-size:24px !important;

}
.how-it-works p{
     
    font-size: 18px;
    line-height:30px;
    margin-bottom:15px;
    text-align:center;
}
.industries ul li{
    font-size:16px;
    margin-bottom:16px;

}
.serviceread{
     color: #0071ad;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

@media only screen and (min-width:360px) and (max-width:640px){
    #mainnav-mobi .menu {
    height: auto !important;
    overflow-y: auto;
}
    .btn-black{
        margin-right:-65px !important;
    }
    .btn-click img{
        margin-top:-20px !important;
    }
    .pageheader h2 {
    color: #fff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top:0px;
}
}
@media only screen and (max-width:320px){
    #mainnav-mobi .menu {
    height: auto !important;
    overflow-y: auto;
}
    .btn-black{
        margin-right:-65px !important;
    }
    .btn-click img{
        margin-top:-20px !important;
    }
    .btn-menu{
          margin-top: -55px;
    }
     .pageheader h2 {
    color: #fff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 28px;
    margin-bottom: 0;
    margin-top:0px;
}
}
@media only screen and (min-width:375px) and (max-width:667px){
    #mainnav-mobi .menu {
    height: auto !important;
    overflow-y: auto;
}
    .btn-black{
        margin-right:-65px !important;
    }
    .btn-click img{
        margin-top:-20px !important;
    }
     .pageheader h2 {
    color: #fff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top:0px;
}
}